<div class="header">All frames</div>
<ul>
    <li class="frame" ng-repeat="slide in frames">
        <div class="item-wrap">
            <span class="frame-header">{{slide.id}}</span>
            <img ng-src="{{slide.src}}" alt="{{slide.text}}">
            <span class="text">{{slide.text}}</span>
        </div>
    </li>
</ul>
