<div class="top open" ng-class="{active: active}">
    <div class="scenery" scenery>
        <ul>
            <li ng-repeat="scenery in sceneries">
                <div class="gradient"></div>
                <span class="caption">{{scenery.title}}</span>
                <img ng-src="{{scenery.src}}" alt="{{scenery.title}}"/>
            </li>
        </ul>
    </div>
</div>