<div>
    <div class="header">Share</div>
    <div class="wrap-settings">
        <ul class="info-section">
            <li ng-repeat="section in social">
                <div class="info-section-header">
                    {{section.name}}
                </div>
                <ul class="info-section-options social">
                    <li class="clearfix" ng-repeat="options in section.options">
                        <div class="social-btn">
                            <img ng-src="{{options.img}}" alt="{{options.title}}">
                        </div>
                        <span class="title social" ng-class="{disabled: options.value !== ''}">{{options.title}}</span>
                        <span class="info">{{options.value}}</span>
                        <button class="button social" ng-class="{disabled: options.value === ''}">{{options.btnName}}
                        </button>
                    </li>
                </ul>
            </li>
            <li>
                <div class="info-section-header">
                    desctop
                </div>
                <ul class="info-section-options social">
                    <li class="clearfix">
                        <div class="social-btn">
                            <img ng-src="icons/share/download.svg" alt="Download to desktop (HD 1080P)">
                        </div>
                        <span class="title social"">Download to desktop (HD 1080P)</span>
                        <button class="button social"">download</button>
                    </li>
                    <li class="clearfix">
                        <div class="social-btn">
                            <img ng-src="icons/share/download.svg" alt="Download to desktop (HD 720P)">
                        </div>
                        <span class="title social"">Download to desktop (HD 720P)</span>
                        <button class="button social"">download</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>