<ul class="top">
    <li class="theme" ng-class="{active: menus.theme}" data-placement="right" title="Choose Visual Themes" whith="tooltip" ng-click="openMenu('theme')">
        <span role="button"><i></i></span>
    </li>
    <li class="effects" ng-class="{active: menus.effects}" data-placement="right" title="Choose Lighting, Effects & Font options" whith="tooltip" ng-click="openMenu('effects')">
        <span role="button"><i></i></span>
    </li>
    <li class="music" ng-class="{active: menus.music}" data-placement="right" title="Music for amplifying your narrative impact" whith="tooltip" ng-click="openMenu('music')">
        <span role="button"><i></i></span>
    </li>
    <li class="image-library" ng-class="{active: menus.imageLibrary}" data-placement="right" title="Image library" whith="tooltip" ng-click="openMenu('imageLibrary')">
        <span role="button"><i></i></span>
    </li>
    <li class="business-data" ng-class="{active: menus.businessData}" data-placement="right" title="Input Business Data and Metrics" whith="tooltip" ng-click="openMenu('businessData')">
        <span role="button"><i></i></span>
    </li>
</ul>
<scenery-menu ng-if="menus.theme"></scenery-menu>
<image-library-menu  ng-if="menus.imageLibrary"></image-library-menu>