<div id="createShort">
    <header ng-class="{invisible: hideHeader}">
        <span>My case study video</span>
        <ul class="video-controllers">
            <li class="undo" data-placement="bottom" title="Undo" whith="tooltip">
                <a href="#"><i></i></a>
            </li>
            <li class="redo not-active" data-placement="bottom" title="Redo" whith="tooltip">
                <a href="#"><i></i></a>
            </li>
            <li class="play" data-placement="bottom" title="Play" whith="tooltip">
                <a href="#"><i></i></a>
            </li>
            <li class="mute" data-placement="bottom" title="Mute" whith="tooltip">
                <a href="#"><i></i></a>
            </li>
            <li class="share" data-placement="bottom" title="Share" whith="tooltip" ng-click="showMenu('share')">
                <div role="button"><i></i></div>
            </li>
            <li class="full-screen" data-placement="bottom" title="Full screen" whith="tooltip">
                <a href="#"><i></i></a>
            </li>
        </ul>
    </header>

    <div id="canvas" style="width: {{aspectRatio.width}}px; height:{{aspectRatio.height}}px"></div>
    <div class="frames">
        <ul id="framesCarousel" class="carousel-inner image gradient" role="listbox" rn-carousel rn-carousel-controls="" rn-carousel-index="carouselIndex" rn-carousel-easing="easeInOutQuad">
            <li class="item" ng-repeat="slide in frames">
                <div class="item-wrap">
                    <img class="layer" ng-src="{{slide.src}}" alt="{{slide.text}}">
                    <span class="text">{{slide.text}}</span>
                </div>
            </li>
        </ul>
        <div class="show-all-frames-btn" data-placement="left" title="See all frames" whith="tooltip"
             ng-click="showMenu('allFrames')">
            <div role="button">
                <img src="icons/main/see%20all%20frames.svg" alt=""/>
            </div>
            <div class="tooltip right-tooltip">
            </div>
        </div>
    </div>
    <div class="popup wrap" ng-class="{active: active}">
        <div class="close-btn" role="button" ng-click="close()"></div>
        <div class="all-frames" all-frames ng-if="allFrames" data="frames"></div>
        <share-directive ng-if="share" ></share-directive>
    </div>
</div>

