#canvas {
  background: url('img/scenery/mising-scenery.png') no-repeat;
  background-size: contain;
  margin: 0 auto;
}

@mainColorBackground: #262626;
@colorSideNav: #393939;
@carouselColor: #5d5d5d;
@fadeTextColor: #5d5d5d;
@settingsBtnColor: #5d5d5d;
@settingsBackgroundColor: #393939;
@widthContent: 1360px;
@heightContent: 768px;
@fontFamily: 'Source Sans Pro', sans-serif;
@mainTextColor: #fff;
@animationTimingFunction: linear;
@animationDuration: .5s;
@animationOptionsAll: all @animationDuration @animationTimingFunction;

.transform-translateX(@transitionX) {
  -webkit-transform: translateX(@transitionX);
  -moz-transform: translateX(@transitionX);
  -ms-transform: translateX(@transitionX);
  -o-transform: translateX(@transitionX);
  transform: translateX(@transitionX);
}

.transform-translateY(@transitionY) {
  -webkit-transform: translateY(@transitionY);
  -moz-transform: translateY(@transitionY);
  -ms-transform: translateY(@transitionY);
  -o-transform: translateY(@transitionY);
  transform: translateY(@transitionY);
}

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
}

.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

html, body {
  background: @mainColorBackground;
}

.carousel-inner {
  position: static;

  .item {
    -webkit-transition: -webkit-transform @animationDuration @animationTimingFunction;
    -o-transition: -o-transform @animationDuration @animationTimingFunction;
    transition: transform @animationDuration @animationTimingFunction;
  }
}

.main-container {
  font-family: @fontFamily;
  font-size: 0;
  text-align: center;
}

.side-nav {
  width: 60px;
  height: 100%;
  background: fade(#393939, 80%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  i {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
  }

  .logo {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;

    i {
      background: url('icons/main/short%20logo.svg') no-repeat 50% 50%;
      background-size: contain;
    }
  }

  .top,
  .bottom {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .top {

    li {
      margin-bottom: 30px;
      opacity: .3;
      .transition(opacity @animationDuration @animationTimingFunction);
    }

    li.active,
    li:hover {
      opacity: 1;
    }

    .effects i {
      background: url('icons/main/effects.svg') no-repeat 50% 50%;
    }

    .image-library i {
      background: url('icons/main/image%20library.svg') no-repeat 50% 50%;
    }

    .business-data i {
      background: url('icons/main/b%20data.svg') no-repeat 50% 50%;
    }

    .music i {
      background: url('icons/main/music.svg') no-repeat 50% 50%;
    }

    .theme i {
      background: url('icons/main/scenery%20passive.svg') no-repeat 50% 50%;
    }

    &.open {
      width: 432px;
      background: fade(@mainColorBackground, 80%);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      .transition(@animationOptionsAll);
      .transform-translateX(-100%);
      opacity: 0;

      &.active {
        .transform-translateX(0);
        opacity: 1;
      }

      .image-library {
        position: absolute;
        display: inline-block;
        top: 34%;
        margin-left: -60px;

        img {
          background: url("icons/image%20uploads/images.svg") no-repeat 82px 59px;
        }
      }

      .scenery {

        ul {
          margin: 0;
          padding: 15px 0 0 60px;
          text-align: left;
        }

        li {
          background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 75%, rgba(0, 0, 0, 0.80) 100%);
          width: 171px;
          height: 100px;
          opacity: 1;
          margin: 5px;
          display: inline-block;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          span {
            font-size: 12px;
            color: #ffffff;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 4px;
            width: 100%;
            position: absolute;
            bottom: 0;

          }
        }
      }
    }
  }

  .bottom {
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;

    .user-info i {
      width: 24px;
      height: 24px;
      background: url('icons/main/user%20info.svg') no-repeat 50% 50%;
      background-size: contain;
    }
  }
}

#content {
  padding: 20px 10px 0 70px;
  color: @mainTextColor;
  text-transform: uppercase;

  .header {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 20px;
  }

  .shorts-filters {
    text-align: center;
    margin: 20px 0;
    position: relative;

    .filters > li {
      font-size: 15px;
      line-height: 27px;
      border: 1px solid #5d5d5d;
      width: 145px;
      height: 29px;
      display: inline-block;

      &:first-child {
        .border-left-radius(2px);
      }

      &:last-child {
        .border-right-radius(2px);
      }

    }

    a {
      color: @mainTextColor;
      text-decoration: none;
    }

    .filters > li.active {
      background: #5d5d5d;
    }

    .new-short {
      color: @mainTextColor;
      font-size: 15px;
      line-height: 27px;
      background: #5d5d5d;
      border-radius: 2px;
      width: 211px;
      height: 29px;
      position: absolute;
      top: 0;
      right: 0;
    }

  }

  #myShortsCarousel {
    text-align: center;
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .item-carousel {
      display: inline-block;
      position: relative;
      width: 422px;
      height: 238px;
      margin: 0 10px 10px 0;
      font-size: 20px;
      color: #ffffff;
      text-transform: none;
      line-height: 25px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(n+4) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .carousel-caption {
        bottom: 0;
        left: 20px;
        text-align: left;
        padding-bottom: 20px;
        right: inherit;
      }

      .project-date {
        font-size: .8em;
      }

      .carousel-menu {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: fade(@mainColorBackground, 0%);
        .transition(@animationOptionsAll);
        overflow: hidden;

        .carousel-call-menu,
        ul > li {
          display: inline-block;
          line-height: 50px;
        }

        .carousel-call-menu {
          float: right;
          width: 50px;
          height: 50px;
          background-color: fade(@mainColorBackground, 90%);

          img {
            width: inherit;
          }
        }

        ul {
          list-style: none;
          font-size: 0;
          white-space: nowrap;
          text-align: right;
          direction: rtl;

          & > li {
            margin: 0 11px;

            img {
              opacity: 0;
              .transition(@animationOptionsAll);
            }
          }
        }

        &:hover {
          width: 197px;
          background-color: fade(@mainColorBackground, 90%);
        }

        &:hover img {
          opacity: 1;
        }
      }

      .carousel-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 22px;
        margin-right: 19px;

        .shares,
        .views {
          float: right;
        }

        .views {
          margin-right: 24px;
        }

        img {
          height: 20px;
          width: inherit;
          display: inline-block;
          margin-right: 15px;
        }
      }

    }

    .rn-carousel-control {
      position: absolute;
      background: fade(@carouselColor, 0%);
      top: 0;
      bottom: 0;
      width: 53px;
      .transition(@animationOptionsAll);
      opacity: 1;
      z-index: 0;

      &:hover {
        background: fade(@carouselColor, 90%);
      }

      &.rn-carousel-control-next {
        right: 0;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;
          width: 19px;
          height: 29px;
          margin-top: -15px;
          margin-right: -10px;
          right: 50%;
          background: url('icons/my%20SHORTs/right%20arrow.svg');
        }
      }

      &.rn-carousel-control-prev {
        left: 0;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          z-index: 5;
          display: inline-block;
          width: 19px;
          height: 29px;
          margin-top: -15px;
          margin-right: -10px;
          right: 50%;
          background: url('icons/my%20SHORTs/left%20arrow.svg');
        }
      }

    }

  }
}

#createShort {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, .6) 99%);

  header {
    opacity: 0.8;
    background: fade(@mainColorBackground, 80%);
    width: 608px;
    height: 60px;
    padding: 18px 21px 18px 30px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    .transition(@animationOptionsAll);

    &.invisible {
      opacity: 0;
    }

    span {
      font-size: 20px;
      color: #ffffff;
      line-height: 25px;
      text-transform: capitalize;
    }

    .video-controllers {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right;
      white-space: nowrap;
      //text-align: center;
      //width: 100%;

      li {
        display: inline-block;
        margin-left: 30px;

        &.not-active {
          opacity: .3;
        }
      }

      i {
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-block;
      }

      .play i {
        background: url('icons/main/play.svg') no-repeat 50% 50%;
      }

      .full-screen i {
        background: url('icons/main/full-screen.png') no-repeat 50% 50%;
        background-size: contain;
      }

      .share i {
        background: url('icons/main/share.svg') no-repeat 50% 50%;
        background-size: contain;
      }

      .mute i {
        background: url('icons/main/mute.png') no-repeat 50% 50%;
        background-size: contain;
      }

      .redo i {
        background: url('icons/main/redo.png') no-repeat 50% 50%;
        background-size: contain;
      }

      .undo i {
        background: url('icons/main/undo.png') no-repeat 50% 50%;
        background-size: contain;
      }
    }
  }
}

.frames {
  position: fixed;
  text-align: center;
  height: 108px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.60) 99%);

  #framesCarousel {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: visible;
  }

  .item {
    display: inline-block;
    position: relative;
    height: 108px;
    width: 197px;
    margin: 0 5px;

    .item-wrap {
      text-align: left;
      .transition(@animationOptionsAll);

      &:hover {
        .transform-translateY(-115px);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    .text {
      font-size: 15px;
      color: #ffffff;
      line-height: 19px;
    }
  }

  .rn-carousel-control {
    position: absolute;
    background: fade(@carouselColor, 0%);
    top: 0;
    bottom: 0;
    width: 53px;
    .transition(@animationOptionsAll);
    opacity: 1;

    &:hover {
      background: fade(@carouselColor, 90%);
    }

    &.rn-carousel-control-next {
      right: 0;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        width: 19px;
        height: 29px;
        margin-top: -15px;
        margin-right: -10px;
        right: 50%;
        background: url('icons/my%20SHORTs/right%20arrow.svg');
      }
    }

    &.rn-carousel-control-prev {
      left: 60px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        width: 19px;
        height: 29px;
        margin-top: -15px;
        margin-right: -10px;
        right: 50%;
        background: url('icons/my%20SHORTs/left%20arrow.svg');
      }
    }

  }

  .show-all-frames-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    top: -65px;
    right: 20px;
    background: fade(@mainColorBackground, 80%);
    border-radius: 50%;
    line-height: 45px;
  }
}

.tooltip {
  font-family: @fontFamily;
  height: 27px;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;

  .tooltip-inner {
    max-width: none;
    padding: 4px 8px;
    background: #5d5d5d;
    line-height: 15px;
    text-align: left;
    border-radius: 0;
  }

}

.fade {
  .transition(opacity @animationDuration @animationTimingFunction);
}

.tooltip.left .tooltip-arrow {
  border-left-color: #5d5d5d;
  right: 1px;
  margin-top: -7px;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #5d5d5d;
  margin-top: -7px;
}

.tooltip.bottom {
  margin-top: 12px;

  .tooltip-arrow {
    border-bottom-color: #5d5d5d;
    //margin-top: -7px;
  }
}

.popup {
  &.wrap {
    padding: 20px 60px 0;
    background: fade(@mainColorBackground, 80%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity @animationDuration @animationTimingFunction, transform @animationDuration @animationTimingFunction;
    opacity: 0;
    transform: translateY(100%);

    &.active {
      opacity: 1;
      transform: translateY(0%);
    }

    .close-btn {
      width: 24px;
      height: 24px;
      background: url("icons/settings/close.svg") no-repeat;
      position: absolute;
      top: 20px;
      right: 21px;
    }

    .header {
      font-size: 24px;
      color: @mainTextColor;
      line-height: 31px;
      text-align: center;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}

.all-frames {
  padding-left: 70px;
  padding-right: 10px;

  ul {
    margin: 0;
    padding: 0;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    .frame-header {
      font-size: 20px;
      color: @mainTextColor;
      line-height: 25px;
      text-align: center;
      display: block;
      margin-bottom: 5px;
    }

    .frame {
      display: inline-block;
      position: relative;
      width: 223px;
      margin: 0 5px 96px;
      vertical-align: top;

      .item-wrap {
        text-align: left;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .text {
        font-size: 15px;
        color: #ffffff;
        line-height: 19px;
      }
    }
  }
}

.options {

  .switchers {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    .switcher {
      font-size: 15px;
      line-height: 19px;
      padding: 5px;
      display: inline-block;
      width: 145px;
      height: 29px;
      text-transform: uppercase;
      border: 1px solid @settingsBtnColor;
      color: @fadeTextColor;

      &.active {
        background: @settingsBtnColor;
        color: @mainTextColor;
      }

      &:first-child {
        .border-left-radius(2px)
      }

      &:last-child {
        .border-right-radius(2px)
      }
    }
  }



  .logout {
    font-size: 15px;
    line-height: 19px;
    color: @mainTextColor;
    text-transform: uppercase;
    background: @settingsBtnColor;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 45px;
  }
}

.wrap-settings {
  background: @settingsBackgroundColor;
  width: 468px;
  padding: 20px;
  margin: 0 auto 50px;
  text-align: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.info-section {
  font-size: 15px;
  line-height: 19px;
  color: @mainTextColor;

  & > li {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    &.social {
      margin-top: 20px;
    }
  }

  .info-section-header {
    text-transform: uppercase;
  }

  .info-section-options {
    padding-left: 30px;

    &.social {
      padding-left: 0;
    }

    li {
      margin-bottom: 15px;

      &:first-child {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .button {
        background: @settingsBtnColor;
        border-radius: 2px;
        padding: 5px;
        float: right;
        border: none;
        text-transform: uppercase;

        &.social {
          width: 83px;
        }

        &.edit {
          width: 50px;
        }
      }

      span {
        display: inline-block;
        padding: 5px 0;
        width: 110px;
        white-space: nowrap;

        &.social {
          width: 97px;
        }
      }

      .disabled {
        opacity: .6;
      }
    }
  }
}

.social-btn {
  display: inline-block;
  padding: 5px 0;
  width: 33px;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%);
}