#canvas {
  background: url('img/scenery/mising-scenery.png') no-repeat;
  background-size: contain;
  margin: 0 auto;
}
html,
body {
  background: #262626;
}
.carousel-inner {
  position: static;
}
.carousel-inner .item {
  -webkit-transition: -webkit-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  transition: transform 0.5s linear;
}
.main-container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0;
  text-align: center;
}
.side-nav {
  width: 60px;
  height: 100%;
  background: rgba(57, 57, 57, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.side-nav i {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}
.side-nav .logo {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.side-nav .logo i {
  background: url('icons/main/short%20logo.svg') no-repeat 50% 50%;
  background-size: contain;
}
.side-nav .top,
.side-nav .bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.side-nav .top li {
  margin-bottom: 30px;
  opacity: .3;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.side-nav .top li.active,
.side-nav .top li:hover {
  opacity: 1;
}
.side-nav .top .effects i {
  background: url('icons/main/effects.svg') no-repeat 50% 50%;
}
.side-nav .top .image-library i {
  background: url('icons/main/image%20library.svg') no-repeat 50% 50%;
}
.side-nav .top .business-data i {
  background: url('icons/main/b%20data.svg') no-repeat 50% 50%;
}
.side-nav .top .music i {
  background: url('icons/main/music.svg') no-repeat 50% 50%;
}
.side-nav .top .theme i {
  background: url('icons/main/scenery%20passive.svg') no-repeat 50% 50%;
}
.side-nav .top.open {
  width: 432px;
  background: rgba(38, 38, 38, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.side-nav .top.open.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.side-nav .top.open .image-library {
  position: absolute;
  display: inline-block;
  top: 34%;
  margin-left: -60px;
}
.side-nav .top.open .image-library img {
  background: url("icons/image%20uploads/images.svg") no-repeat 82px 59px;
}
.side-nav .top.open .scenery ul {
  margin: 0;
  padding: 15px 0 0 60px;
  text-align: left;
}
.side-nav .top.open .scenery li {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%);
  width: 171px;
  height: 100px;
  opacity: 1;
  margin: 5px;
  display: inline-block;
  position: relative;
}
.side-nav .top.open .scenery li img {
  width: 100%;
  height: 100%;
}
.side-nav .top.open .scenery li span {
  font-size: 12px;
  color: #ffffff;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.side-nav .bottom {
  margin-bottom: 24px;
  position: absolute;
  bottom: 0;
}
.side-nav .bottom .user-info i {
  width: 24px;
  height: 24px;
  background: url('icons/main/user%20info.svg') no-repeat 50% 50%;
  background-size: contain;
}
#content {
  padding: 20px 10px 0 70px;
  color: #ffffff;
  text-transform: uppercase;
}
#content .header {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 20px;
}
#content .shorts-filters {
  text-align: center;
  margin: 20px 0;
  position: relative;
}
#content .shorts-filters .filters > li {
  font-size: 15px;
  line-height: 27px;
  border: 1px solid #5d5d5d;
  width: 145px;
  height: 29px;
  display: inline-block;
}
#content .shorts-filters .filters > li:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
#content .shorts-filters .filters > li:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
#content .shorts-filters a {
  color: #ffffff;
  text-decoration: none;
}
#content .shorts-filters .filters > li.active {
  background: #5d5d5d;
}
#content .shorts-filters .new-short {
  color: #ffffff;
  font-size: 15px;
  line-height: 27px;
  background: #5d5d5d;
  border-radius: 2px;
  width: 211px;
  height: 29px;
  position: absolute;
  top: 0;
  right: 0;
}
#content #myShortsCarousel {
  text-align: center;
  overflow: hidden;
}
#content #myShortsCarousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content #myShortsCarousel .item-carousel {
  display: inline-block;
  position: relative;
  width: 422px;
  height: 238px;
  margin: 0 10px 10px 0;
  font-size: 20px;
  color: #ffffff;
  text-transform: none;
  line-height: 25px;
}
#content #myShortsCarousel .item-carousel:nth-child(3n) {
  margin-right: 0;
}
#content #myShortsCarousel .item-carousel:nth-child(n+4) {
  margin-bottom: 0;
}
#content #myShortsCarousel .item-carousel img {
  width: 100%;
  height: 100%;
}
#content #myShortsCarousel .item-carousel .carousel-caption {
  bottom: 0;
  left: 20px;
  text-align: left;
  padding-bottom: 20px;
  right: inherit;
}
#content #myShortsCarousel .item-carousel .project-date {
  font-size: .8em;
}
#content #myShortsCarousel .item-carousel .carousel-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(38, 38, 38, 0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  overflow: hidden;
}
#content #myShortsCarousel .item-carousel .carousel-menu .carousel-call-menu,
#content #myShortsCarousel .item-carousel .carousel-menu ul > li {
  display: inline-block;
  line-height: 50px;
}
#content #myShortsCarousel .item-carousel .carousel-menu .carousel-call-menu {
  float: right;
  width: 50px;
  height: 50px;
  background-color: rgba(38, 38, 38, 0.9);
}
#content #myShortsCarousel .item-carousel .carousel-menu .carousel-call-menu img {
  width: inherit;
}
#content #myShortsCarousel .item-carousel .carousel-menu ul {
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  text-align: right;
  direction: rtl;
}
#content #myShortsCarousel .item-carousel .carousel-menu ul > li {
  margin: 0 11px;
}
#content #myShortsCarousel .item-carousel .carousel-menu ul > li img {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#content #myShortsCarousel .item-carousel .carousel-menu:hover {
  width: 197px;
  background-color: rgba(38, 38, 38, 0.9);
}
#content #myShortsCarousel .item-carousel .carousel-menu:hover img {
  opacity: 1;
}
#content #myShortsCarousel .item-carousel .carousel-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 22px;
  margin-right: 19px;
}
#content #myShortsCarousel .item-carousel .carousel-footer .shares,
#content #myShortsCarousel .item-carousel .carousel-footer .views {
  float: right;
}
#content #myShortsCarousel .item-carousel .carousel-footer .views {
  margin-right: 24px;
}
#content #myShortsCarousel .item-carousel .carousel-footer img {
  height: 20px;
  width: inherit;
  display: inline-block;
  margin-right: 15px;
}
#content #myShortsCarousel .rn-carousel-control {
  position: absolute;
  background: rgba(93, 93, 93, 0);
  top: 0;
  bottom: 0;
  width: 53px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
  z-index: 0;
}
#content #myShortsCarousel .rn-carousel-control:hover {
  background: rgba(93, 93, 93, 0.9);
}
#content #myShortsCarousel .rn-carousel-control.rn-carousel-control-next {
  right: 0;
}
#content #myShortsCarousel .rn-carousel-control.rn-carousel-control-next:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 19px;
  height: 29px;
  margin-top: -15px;
  margin-right: -10px;
  right: 50%;
  background: url('icons/my%20SHORTs/right%20arrow.svg');
}
#content #myShortsCarousel .rn-carousel-control.rn-carousel-control-prev {
  left: 0;
}
#content #myShortsCarousel .rn-carousel-control.rn-carousel-control-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 19px;
  height: 29px;
  margin-top: -15px;
  margin-right: -10px;
  right: 50%;
  background: url('icons/my%20SHORTs/left%20arrow.svg');
}
#createShort {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0.6) 99%);
}
#createShort header {
  opacity: 0.8;
  background: rgba(38, 38, 38, 0.8);
  width: 608px;
  height: 60px;
  padding: 18px 21px 18px 30px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#createShort header.invisible {
  opacity: 0;
}
#createShort header span {
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  text-transform: capitalize;
}
#createShort header .video-controllers {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  white-space: nowrap;
}
#createShort header .video-controllers li {
  display: inline-block;
  margin-left: 30px;
}
#createShort header .video-controllers li.not-active {
  opacity: .3;
}
#createShort header .video-controllers i {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}
#createShort header .video-controllers .play i {
  background: url('icons/main/play.svg') no-repeat 50% 50%;
}
#createShort header .video-controllers .full-screen i {
  background: url('icons/main/full-screen.png') no-repeat 50% 50%;
  background-size: contain;
}
#createShort header .video-controllers .share i {
  background: url('icons/main/share.svg') no-repeat 50% 50%;
  background-size: contain;
}
#createShort header .video-controllers .mute i {
  background: url('icons/main/mute.png') no-repeat 50% 50%;
  background-size: contain;
}
#createShort header .video-controllers .redo i {
  background: url('icons/main/redo.png') no-repeat 50% 50%;
  background-size: contain;
}
#createShort header .video-controllers .undo i {
  background: url('icons/main/undo.png') no-repeat 50% 50%;
  background-size: contain;
}
.frames {
  position: fixed;
  text-align: center;
  height: 108px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 99%);
}
.frames #framesCarousel {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: visible;
}
.frames .item {
  display: inline-block;
  position: relative;
  height: 108px;
  width: 197px;
  margin: 0 5px;
}
.frames .item .item-wrap {
  text-align: left;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.frames .item .item-wrap:hover {
  -webkit-transform: translateY(-115px);
  -moz-transform: translateY(-115px);
  -ms-transform: translateY(-115px);
  -o-transform: translateY(-115px);
  transform: translateY(-115px);
}
.frames .item img {
  width: 100%;
  height: 100%;
}
.frames .item .text {
  font-size: 15px;
  color: #ffffff;
  line-height: 19px;
}
.frames .rn-carousel-control {
  position: absolute;
  background: rgba(93, 93, 93, 0);
  top: 0;
  bottom: 0;
  width: 53px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
}
.frames .rn-carousel-control:hover {
  background: rgba(93, 93, 93, 0.9);
}
.frames .rn-carousel-control.rn-carousel-control-next {
  right: 0;
}
.frames .rn-carousel-control.rn-carousel-control-next:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 19px;
  height: 29px;
  margin-top: -15px;
  margin-right: -10px;
  right: 50%;
  background: url('icons/my%20SHORTs/right%20arrow.svg');
}
.frames .rn-carousel-control.rn-carousel-control-prev {
  left: 60px;
}
.frames .rn-carousel-control.rn-carousel-control-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 19px;
  height: 29px;
  margin-top: -15px;
  margin-right: -10px;
  right: 50%;
  background: url('icons/my%20SHORTs/left%20arrow.svg');
}
.frames .show-all-frames-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  top: -65px;
  right: 20px;
  background: rgba(38, 38, 38, 0.8);
  border-radius: 50%;
  line-height: 45px;
}
.tooltip {
  font-family: 'Source Sans Pro', sans-serif;
  height: 27px;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
}
.tooltip .tooltip-inner {
  max-width: none;
  padding: 4px 8px;
  background: #5d5d5d;
  line-height: 15px;
  text-align: left;
  border-radius: 0;
}
.fade {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #5d5d5d;
  right: 1px;
  margin-top: -7px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #5d5d5d;
  margin-top: -7px;
}
.tooltip.bottom {
  margin-top: 12px;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #5d5d5d;
}
.popup.wrap {
  padding: 20px 60px 0;
  background: rgba(38, 38, 38, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s linear, transform 0.5s linear;
  opacity: 0;
  transform: translateY(100%);
}
.popup.wrap.active {
  opacity: 1;
  transform: translateY(0%);
}
.popup.wrap .close-btn {
  width: 24px;
  height: 24px;
  background: url("icons/settings/close.svg") no-repeat;
  position: absolute;
  top: 20px;
  right: 21px;
}
.popup.wrap .header {
  font-size: 24px;
  color: #ffffff;
  line-height: 31px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.all-frames {
  padding-left: 70px;
  padding-right: 10px;
}
.all-frames ul {
  margin: 0;
  padding: 0;
}
.all-frames ul:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.all-frames ul .frame-header {
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
.all-frames ul .frame {
  display: inline-block;
  position: relative;
  width: 223px;
  margin: 0 5px 96px;
  vertical-align: top;
}
.all-frames ul .frame .item-wrap {
  text-align: left;
}
.all-frames ul .frame img {
  width: 100%;
  height: 100%;
}
.all-frames ul .frame .text {
  font-size: 15px;
  color: #ffffff;
  line-height: 19px;
}
.options .switchers {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}
.options .switchers .switcher {
  font-size: 15px;
  line-height: 19px;
  padding: 5px;
  display: inline-block;
  width: 145px;
  height: 29px;
  text-transform: uppercase;
  border: 1px solid #5d5d5d;
  color: #5d5d5d;
}
.options .switchers .switcher.active {
  background: #5d5d5d;
  color: #ffffff;
}
.options .switchers .switcher:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.options .switchers .switcher:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.options .logout {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  background: #5d5d5d;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 45px;
}
.wrap-settings {
  background: #393939;
  width: 468px;
  padding: 20px;
  margin: 0 auto 50px;
  text-align: left;
}
.wrap-settings ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-section {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}
.info-section > li {
  margin-top: 40px;
}
.info-section > li:first-child {
  margin-top: 0;
}
.info-section > li.social {
  margin-top: 20px;
}
.info-section .info-section-header {
  text-transform: uppercase;
}
.info-section .info-section-options {
  padding-left: 30px;
}
.info-section .info-section-options.social {
  padding-left: 0;
}
.info-section .info-section-options li {
  margin-bottom: 15px;
}
.info-section .info-section-options li:first-child {
  margin-top: 20px;
}
.info-section .info-section-options li:last-child {
  margin-bottom: 0;
}
.info-section .info-section-options li .button {
  background: #5d5d5d;
  border-radius: 2px;
  padding: 5px;
  float: right;
  border: none;
  text-transform: uppercase;
}
.info-section .info-section-options li .button.social {
  width: 83px;
}
.info-section .info-section-options li .button.edit {
  width: 50px;
}
.info-section .info-section-options li span {
  display: inline-block;
  padding: 5px 0;
  width: 110px;
  white-space: nowrap;
}
.info-section .info-section-options li span.social {
  width: 97px;
}
.info-section .info-section-options li .disabled {
  opacity: .6;
}
.social-btn {
  display: inline-block;
  padding: 5px 0;
  width: 33px;
}
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%);
}
