<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Short App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <link href="bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-controller="mainController">
<!-- Sidebar Nav-->
<nav class="side-nav">
    <div class="logo">
        <a href="#"><i></i></a>
    </div>
    <div top-menu ng-if="showTopMenu"></div>
    <ul class="bottom">
        <li class="user-info" data-placement="right" title="User information" whith="tooltip">
            <div role="button" ng-click="showUserInfo()"><i></i></div>
        </li>
    </ul>
</nav>
<!-- End Sidebar Nav-->
<div class="main-container">
<ng-view></ng-view>
    <div class="popup wrap" ng-class="{active: active}">
        <div class="close-btn" role="button" ng-click="closeSettings()"></div>
        <div class="settings" options ng-if="showSettings"></div>
    </div>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="components/angular-carousel/angular-carousel.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
</body>
</html>
