<ul class="info-section" >
    <li ng-repeat="section in settings">
        <div class="info-section-header">
            {{section.name}}
        </div>
        <ul class="info-section-options">
            <li class="clearfix" ng-repeat="options in section.options">
                <span class="title">{{options.title}}</span>
                <span class="info">{{options.value}}</span>
                <button class="button edit">Edit</button>
            </li>
        </ul>
    </li>
</ul>