<div class="header">User information</div>
<div class="options">
    <ul class="switchers">
        <li class="switcher" ng-class="{active: settings.general}" ng-click="settings.general = true"><span
                role="button">General</span></li>
        <li class="switcher" ng-class="{active: !settings.general}" ng-click="settings.general = false"><span
                role="button">Social</span></li>
    </ul>
    <div class="wrap-settings">
        <general-settings ng-if="settings.general"></general-settings>
        <social-settings ng-if="!settings.general"></social-settings>
    </div>

    <div class="logout" role="button" ng-if="settings.general">Log out</div>
</div>