<uib-carousel class="carousel-inner" role="listbox" >
    <!-- Carousel items-->
    <div class="item active" ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <ul>
            <li class="item-carousel" ng-repeat="innerSlide in slides.innerSlides">
                <img ng-src="{{innerSlide.src}}" alt="{{innerSlide.name}}">
                <div class="img-gradient"></div>

                <div class="carousel-caption">
                    <div class="project-name">{{innerSlide.name}}</div>
                    <div class="project-date">{{innerSlide.date}}</div>
                </div>
                <div class="carousel-menu">
                    <div class="carousel-call-menu">
                        <div>
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                        </div>
                        <span class="sr-only">Open menu</span>
                    </div>
                    <ul>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
                <div class="carousel-footer">
                    <div class="shares">
                        <img src="icons/my%20SHORTs/share%20number.svg" alt="Shares"/>
                        <span>{{innerSlide.shares}}</span>

                    </div>
                    <div class="views">
                        <img src="icons/my%20SHORTs/stats.svg" alt="Stats"/>
                        <span>{{innerSlide.stats}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li class="item-carousel">
                <img src="img/scenery/constantinople.png" alt="Constantinople">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item-carousel">
                <img src="img/scenery/gotham.png" alt="Gotham">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item-carousel">
                <img src="img/scenery/redmond.png" alt="Redmond">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item-carousel">
                <img src="img/scenery/milan.png" alt="Milan">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item-carousel">
                <img src="img/scenery/florence.png" alt="Florence">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="item-carousel">
                <img src="img/scenery/constantinople2.png" alt="Milan">

                <div class="carousel-caption">
                    <div class="project-name">Project Name</div>
                    <div class="project-date">3 hours ago</div>
                </div>
                <div class="carousel-menu">
                    <ul>
                        <li class="carousel-menu-item">
                            <img class="icon-chevron-left" aria-hidden="true"
                                 src="icons/my%20SHORTs/call%20menu.svg">
                            <span class="sr-only">Open menu</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/delete.svg">
                            </a>
                            <span class="sr-only">Delete</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/share.svg">
                            </a>
                            <span class="sr-only">Share</span>
                        </li>
                        <li class="carousel-menu-item">
                            <a href="#">
                                <img class="icon-chevron-left" aria-hidden="true"
                                     src="icons/my%20SHORTs/play.svg">
                            </a>
                            <span class="sr-only">Play</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

     Left and right controls
    <a class="left carousel-control" href="#myShortsCarousel" role="button">
        <img class="icon-chevron-left" aria-hidden="true" src="icons/my%20SHORTs/left%20arrow.svg">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myShortsCarousel" role="button">
        <img class="icon-chevron-right" aria-hidden="true" src="icons/my%20SHORTs/right%20arrow.svg">
        <span class="sr-only">Next</span>
    </a>

    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myShortsCarousel").carousel("pause");

            // Enable Carousel Controls
            $(".left").click(function () {
                $("#myShortsCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#myShortsCarousel").carousel("next");
            });
        });
    </script>
</uib-carousel>