<main id="content">
    <div class="header">My shorts</div>

    <!-- Shorts filters-->
    <div class="shorts-filters">
        <ul class="filters">
            <li class="active">
                <a href="#">date</a>
            </li>
            <li>
                <a href="#">views</a>
            </li>
            <li>
                <a href="#">shares</a>
            </li>
        </ul>
        <a href="#/view2" class="new-short">create new short</a>
    </div>
    <!-- End Shorts filters-->

    <!-- Carousel-->
    <div class="my-shorts-list">
        <div id="myShortsCarousel" class="carousel slide">
            <ul class="carousel-inner image" role="listbox" rn-carousel="" rn-carousel-controls=""
                rn-carousel-buffered="1" rn-carousel-duration="500" >
                <li class="item layer" ng-repeat="slide in slides">
                    <ul>
                        <li class="item-carousel" ng-repeat="innerSlide in slide.innerSlides">
                            <img ng-src="{{innerSlide.src}}" alt="{{innerSlide.name}}">
                            <div class="gradient"></div>

                            <div class="carousel-caption">
                                <div class="project-name">{{innerSlide.name}}</div>
                                <div class="project-date">{{innerSlide.date}}</div>
                            </div>
                            <div class="carousel-menu">
                                <div class="carousel-call-menu">
                                    <div>
                                        <img class="icon-chevron-left" aria-hidden="true"
                                             src="icons/my%20SHORTs/call%20menu.svg">
                                    </div>
                                    <span class="sr-only">Open menu</span>
                                </div>
                                <ul>
                                    <li class="carousel-menu-item">
                                        <a href="#">
                                            <img class="icon-chevron-left" aria-hidden="true"
                                                 src="icons/my%20SHORTs/delete.svg">
                                        </a>
                                        <span class="sr-only">Delete</span>
                                    </li>
                                    <li class="carousel-menu-item">
                                        <a href="#">
                                            <img class="icon-chevron-left" aria-hidden="true"
                                                 src="icons/my%20SHORTs/share.svg">
                                        </a>
                                        <span class="sr-only">Share</span>
                                    </li>
                                    <li class="carousel-menu-item">
                                        <a href="#">
                                            <img class="icon-chevron-left" aria-hidden="true"
                                                 src="icons/my%20SHORTs/play.svg">
                                        </a>
                                        <span class="sr-only">Play</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-footer">
                                <div class="shares">
                                    <img src="icons/my%20SHORTs/share%20number.svg" alt="Shares"/>
                                    <span>{{innerSlide.shares}}</span>

                                </div>
                                <div class="views">
                                    <img src="icons/my%20SHORTs/stats.svg" alt="Stats"/>
                                    <span>{{innerSlide.stats}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Carousel-->


</main>